*{
    box-sizing:border-box;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.name{
    font-size: 1.25em;
}
.name,

.main-nav li{

background-color: cornsilk;
margin-top: 6px;
margin-bottom: 6px;
text-align: center;
}

.main-nav a {
font-size: 0.95em;
text-transform: uppercase;
  
}


.name a,
.main-nav a{
    display: block;
    padding: 10px 15px ;
    text-decoration: none;
}

a:hover{
    color:coral
}

.container{
    
    margin: 0 auto;
    padding: 0 1em;
}

.main-header{
    background-color: aqua;
    padding: 1em 0;
    text-align: center;
}
.card{
    display: flex;
}
.main-footer{
    background-color: grey;
    
    color: white;
    
    padding: 2em 0em;
}

.mid-footer{
    text-align: center;
}
ul h4{
    
    color: chartreuse;
}

.footer-flex {
  display:flex;
  justify-content:space-between
}

.foot-card{
  }

@media(min-width:769px){
    .container{
    width: 80%;
    max-width: 1150px;
    }

    .wrap{
        
        min-height:calc(100vh - 100px);
       
    }
    .name{
  
        width: 270px;
       
      
     }
     .name,
.main-nav li{
display: inline-block;

}

}